<p>
  <strong>Name:</strong>
  <%= @tournament.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tournament.description %>
</p>

<%= link_to 'Edit', edit_tournament_path(@tournament) %> |
<%= link_to 'Back', tournaments_path %>
